

<div class="container">
  <div class="row" >
    
  </div>
  <div class="row" >
    <div class="col-md-2">
      <app-rooms></app-rooms>
    </div>
<div class="col-md-8">
  <div class="panel panel-info">
    <div class="panel-heading">
      room name: {{this.id}}
    </div>

    <div class="panel-body">
      <ul class="media-list">

        <li  *ngFor="let mess of messages | async" class="media">

          <div class="media-body">

            <div class="media">
              <a class="pull-left" href="#">
                <!--<img class="media-object img-circle " src="assets/img/user.png">-->
              </a>
              <div class="media-body">
                {{ mess.text }}
                <br>
                <small class="text-muted">                {{mess.author}}| {{mess.time | date: 'medium'}}</small>
                <hr>
              </div>
            </div>

          </div>
        </li>

      </ul>
    </div>
    <div class="panel-footer">
      <div class="input-group"  class="row">
        <div class="col-md-10">
          <input  [(ngModel)]="mess" type="text" class="form-control" placeholder="Enter Message">
        </div>
        <span  class="col-md-2" class="input-group-btn">
          <button (click)="sendMessage()" class="btn btn-info" type="button">SEND!</button>
        </span>
      </div>
    </div>
  </div>
</div>

    <div  class="col-md-2">
      <div>
       
      </div>


<ul class="list-group">
  <li class="list-group-item list-group-item-info"><span class="glyphicon glyphicon-user"></span> Users in this chat room</li>
  <li *ngFor="let room of userInRom"  class="list-group-item">{{ room.displayName }}</li>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add new user</button>
</ul>








    <!--<div class="panel-heading">
      <button class="btn-primary" (click)="show = !show" style="padding: 4px;">Add new</button>

      <div *ngIf="show">
      Select User:
      <input [(ngModel)]="nameInvite">

      <ul class="list-group">
        <li [ngClass]="{'active' : user.displayName === inviteuser.displayName}" *ngFor="let user of usersData" (click)="nameInvite = user.email; inviteuser = user">
          {{ user.displayName }}
        </li>
      </ul>

      <button class="btn-primary" (click)="inviteTo()" style="padding: 4px;">Invite</button>
      </div>
    </div>-->
<!---->

       
    <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Select user to add</h4>
        </div>
        <div class="modal-body">

          <ul class="list-group">
            <li [ngClass]="{'active' : user.displayName === inviteuser.displayName}" *ngFor="let user of usersData" (click)="nameInvite = user.email; inviteuser = user">
              {{ user.displayName }}
            </li>
          </ul>

      <button class="btn-primary" (click)="inviteTo()" style="padding: 4px;" data-dismiss="modal">Add</button>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
      
    </div>
  </div>   

<!---->
    </div>
  </div>
</div>
