
<nav class="navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand">chatUP</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="#">    {{ (user | async)?.email }} </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" (click)="logout2()" *ngIf="(user | async)?.email != null"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        <!--<li><button class="btn btn-default btn-block" (click)="logout()">Logout</button></li>-->

      </ul>
    </div>
  </div>
</nav>
<div class="container">    
  <div class="row content">
    <router-outlet></router-outlet>
  </div>
</div>

<!--<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>-->