<div class="form-container popup">
  <!--<a routerLink="/login" id="goback">Go back</a>-->
  <h2>Welcome to chatUP</h2>
  <h3>Please Login</h3>
  <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>

  <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">

    <input type="text" placeholder="Email address.." (ngModel)="email" name="email" class="txt" required>
    <input type="password" placeholder="Password" (ngModel)="password" name="password" class="txt" required>
    <button type="submit" [disabled]="!formData.valid" class="btn btn-default btn-block">Log in</button>
    <a routerLink="/signup" class="alc">Don't have an account?</a>
  </form>
</div>
