<div class="form-container popup">
  <a routerLink="/login-email" id="goback">Go back</a>

  <h2>Join now</h2>

  <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>

  <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">

    <input type="text" placeholder="First Name" [(ngModel)]="firstName" name="first" class="txt" required>
    <input type="text" placeholder="Last Name" [(ngModel)]="lastName" name="last" class="txt" required>
    <input type="text" placeholder="Email address.." (ngModel)="email" name="email" class="txt" required>
    <input type="password" placeholder="Password" (ngModel)="password" name="password" class="txt" required>


    <button type="submit" [disabled]="!formData.valid" class="btn btn-default btn-block">Create my account</button>
  </form>
</div>
