



  <div class="list-group">
    <li class="list-group-item list-group-item-success"><span class="glyphicon glyphicon-list-alt"></span> Your Chat Rooms:</li>
    <a *ngFor="let room of roomsArr" (click)="selectRoom(room)" [hidden]="!room.show" class="list-group-item">{{ room.name }}</a>
  <li class="list-group-item list-group-item-success">
    Create chat room:
    <input [(ngModel)]="newRoom" style="width: 80px; " placeholder="room name..." >
    <button class="btn-primary" (click)="createRoom()" style="padding: 4px;">Create</button>
  </li>
  </div>

